PORT=4002
MONGO_URI=mongodb://mongodb:27017
MONGO_DB_NAME=hms_user
JWT_SECRET=change_this_in_production
INTERNAL_API_KEY=change_this_in_production
AUTH_SERVICE_URL=http://auth-service:4001
APPOINTMENT_SERVICE_URL=http://appointment-service:4003
NOTIFICATION_SERVICE_URL=http://notification-service:4004
API_GATEWAY_URL=http://api-gateway:8080
